<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/custom.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    <nav class="navbar navbar-dark" style="background-color:#0B2A69">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/hps_logo.png" width="30" height="30" class="d-inline-block align-top" alt=""
                    loading="lazy">
                HPS Student Help Desk
            </a>
        </div>
    </nav>
    <div class="container">
        <br>
        {{{body}}}
    </div>

</body>

</html>