<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="fullName">Your Full Name:</label>
                <input type="text" class="form-control" id="fullName">
            </div>
            <div class="form-group">
                <label for="emailAddress">Your Email Address:</label>
                <input type="email" class="form-control" id="emailAddress">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Your Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber">
            </div>
            <div class="form-group">
                <label for="studentFulleName">Student's Full Name:</label>
                <input type="text" class="form-control" id="studentFullName">
            </div>
            <div class="form-group">
                <label for="studentSchool">Student's School:</label>
                <select class="form-control" id="studentSchool">
                    <option disabled selected>Choose One...</option>
                    <option>KEL</option>
                    <option>MEL</option>
                    <option>PEL</option>
                </select>
            </div>
            <div class="form-group">
                <label for="requestInfo">Please describe your issue in as much detail as possible:</label>
                <textarea class="form-control" id="requestInfo" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>