<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="fullName">Your Full Name:</label>
                <input type="text" class="form-control" id="fullName">
            </div>
            <div class="form-group">
                <label for="emailAddress">Your Email Address:</label>
                <input type="email" class="form-control" id="emailAddress" placeholder="your_email@somewhere.com">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Your Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="123-456-7890">
            </div>
            <div class="form-group">
                <label for="studentFulleName">Student's Full Name:</label>
                <input type="text" class="form-control" id="studentFullName">
            </div>
            <div class="form-group">
                <label for="school">Student's School:</label>
                <select class="form-control" id="school">
                    <option disabled selected>Choose One...</option>
                    <option>Kennedy</option>
                    <option>McAuliffe</option>
                    <option>Pinecrest</option>
                </select>
            </div>
            <div class="form-group">
                <label for="issueDescription">Please describe your issue in as much detail as possible:</label>
                <textarea class="form-control" id="issueDescription" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block" id="submit-request-form">Submit</button>
        </form>
    </div>
</div>

<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="info-modal-title">Student Helpdesk Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5><strong>Requests without specific issues will be closed.</strong></h5>
                <h6><strong>The student helpdesk can help with:</strong></h6>
                <ul>
                    <li>Troubleshooting iPads (the device itself or apps).</li>
                    <li>Troubleshooting Zoom connections.</li>
                    <li>Other <strong>specific</strong> questions.</li>
                </ul>
                <h6><strong>Talk to your teacher for:</strong></h6>
                <ul>
                    <li>Zoom information (meeting times, invite links, passcodes).</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="spinner-shade invisible" id="spinner-shade">
    <div class="spinner-border text-light custom-spinner" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>