<div class="row justify-content-md-center">
    <div class="col-md-8 text-center">
        <h1>Sorry! There is an error on our end.</h1>
        <hr>
        <h3>Please get in touch with your building tech directly.</h3>
        <ul>
            <li>Email Address</li>
            <li>Email Address</li>
            <li>Email Address</li>
        </ul>
    </div>
</div>