<div class="row">
    <div class="col-md-12">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            My iPad Won't Charge
                        </button>
                    </h2>
                </div>

                {{!-- Collpased card data --}}
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ol>
                            <li>Hard restart your iPad.</li>
                            <ul>
                                <li>This can be done by holding down the power button (top right corner of the iPad) and
                                    the home button (circular button at the bottom of the screen) for about 5-8 seconds.
                                    The screen should flash to black and after a few seconds you can power the iPad back
                                    on.
                                </li>
                            </ul>
                            <li>Check Your Charging Brick and Cable</li>
                            <ul>
                                <li>Attempt to see if the iPad charges with a different charging cable, brick or both
                                    if possible.</li>
                            </ul>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>